mat-card {
  margin: 1em;
}

.dashboard-second-group {
  display: flex;
}

.dashboard-second-group > mat-card {
  flex-grow: 1;
}

@media only screen and (max-width: 768px) {
  .dashboard-second-group {
    display: flex;
    flex-direction: column;
  }
}
